html, body {
    width: 100%;
    height: 100%;
}

nav {
    border: none !important;
    text-transform: uppercase;
    font-size: 0.9em;
    font-family: Helvetica;
    letter-spacing: 2px;
    color: #333333 !important;
}

span.navbar-brand a {
    color: #333333 !important;
}

.navbar-brand a,
.navbar-brand a:hover,
.navbar-brand a:visited,
.navbar-brand a:focus,
.navbar-brand a:active,
nav .scroll-item,
nav .scroll-item:hover,
nav .scroll-item:active,
nav .scroll-item:visited,
nav .scroll-item:focus {
    text-decoration: none;
}

span.navbar-brand a:hover {
    cursor: pointer;
    color: #000000 !important;
}

nav .scroll-item {
    cursor: pointer;
    padding: 0 !important;
    color: #333333 !important;
}

nav .scroll-item:hover {
    color: #000000 !important
}

.scroll-item:focus, .scroll-item:active, .scroll-item::-moz-focus-inner {
    border: none;
    outline: none;
}

.navbar-right li {
    display: inline-block;
    height: 50px;
    line-height: 30px;
    padding: 10px 20px;
}

.navbar-right li a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.no-color-change, .no-color-change:hover, .no-color-change:focus, .no-color-change:visited, .no-color-change:active {
    color: inherit !important;
}

a.underline-hover, a.underline-hover:focus, a.underline-hover:active, a.underline-hover:visited {
    text-decoration: none;
}

a.underline-hover:hover {
    text-decoration: underline;
}

a.no-underline-hover, a.no-underline-hover:focus, a.no-underline-hover:active, a.no-underline-hover:visited, a.no-underline-hover:hover {
    text-decoration: none !important;
}

header {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    height: 100%;
    max-height: 100%;
    padding-top: 10%;
}

section {
    padding: 25px 0;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
}

section:nth-child(even) .nav-tabs > li.active > a,
section:nth-child(even) .nav-tabs > li.active > a:hover,
section:nth-child(even) .nav-tabs > li.active > a:focus,
section:nth-child(even) .nav-pills > li.active > a,
section:nth-child(even) .nav-pills > li.active > a:hover,
section:nth-child(even) .nav-pills > li.active > a:focus  {
    background-color: #CCCCCC !important;
    color: #222222 !important;
    border: 1px solid #EFEFEF !important;
    border-bottom-color: transparent !important;
}

section:nth-child(even) .nav-tabs > li:not(.active) > a:hover,
section:nth-child(even) .nav-tabs > li:not(.active) > a:focus,
section:nth-child(even) .nav-pills > li:not(.active) > a:hover,
section:nth-child(even) .nav-pills > li:not(.active) > a:focus {
    border: 1px solid #DDDDDD !important;
    border-bottom-color: transparent !important;
}

section:nth-child(odd) .nav-tabs > li.active > a,
section:nth-child(odd) .nav-tabs > li.active > a:hover,
section:nth-child(odd) .nav-tabs > li.active > a:focus,
section:nth-child(odd) .nav-pills > li.active > a,
section:nth-child(odd) .nav-pills > li.active > a:hover,
section:nth-child(odd) .nav-pills > li.active > a:focus  {
    background-color: #FFFFFF !important;
    color: #444444 !important;
}

section:nth-child(even) {
    background-color: #CCCCCC;
    color: #222222;
}

section:nth-child(odd) {
    background-color: #FFFFFF;
    color: #444444;
}

header h1 {
    display: inline-block;
    font-size: 2em;
    margin-top: 25px;
}

div.hr {
    width: 20%;
    border-radius: 5px;
    margin: 10px 40%;
    height: 2px;
    background: #C9302C;
    float: left;
}

div.app-icon img {
    max-width: 200px;
    max-height: 200px;
    min-width: 50px;
    min-height: 50px;
}

footer {
    width: 100%;
    padding: 10px;
    background-color: #CCCCCC;
    color: #333333;
}

div.tab-col-headers {
    margin-bottom: 8px;
}

div.tab-content, ul.nav-tabs {
    max-width: 100%;
}

div.tab-content {
    margin-top: 10px;
    margin-bottom: 10px;
}

div.tab-content span.bullet-span,
div.tab-content div.bullet-item {
    padding: 0;
    margin: 0;
    text-align: left;
    display: inline-block;
    vertical-align: top;
}

div.tab-content span.bullet-span {
    float: left;
    max-width: 3%;
    min-width: 3%;
    min-height: 100%;
    max-height: 100%;
}

div.tab-content div.bullet-item {
    float: right;
    max-width: 95%;
    min-width: 95%;
}

section:nth-child(even) .nav-tabs,
section:nth-child(even) .nav-pills {
    border-bottom: 1px solid #EFEFEF !important;
}

.nav-tabs li a, .nav-pills li a {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #555555;
    background-color: transparent !important;
}

ul.social-links {
    height: 50px;
    margin-bottom: 0;
    display: inline-block;
}

ul.social-links a {
    cursor: pointer;
    display: inline-block;
    height: 25px;
    width: 25px;
    font-size: 16px;
    text-align: center;
    border-radius: 50%;
    transition: all 200ms ease;
    color: #FFFFFF !important;
    line-height: 25px;
    margin-top: 13px;
}

ul.social-links a:hover {
    transform: scale(1.2, 1.2);
    transition: all 200ms ease;
    color: #FFFFFF;
}

.social-linkedin {
    background-color: #0077B5;
}

.social-github {
    background-color: #4183C4;
}

video#background {
    z-index: -100;
    opacity: 0.5;
    background: transparent;
}

img#background-image {
    z-index: -101;
}

img.about-image {
    max-width: 100%;
    border-radius: 5%;
}

video#background, img#background-image {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

.text-italic {
    font-style: italic;
}

.text-bold {
    font-weight: bold;
}

.text-underline {
    text-decoration: underline;
}

.default-cursor {
    cursor: default;
}

.vertical-align-bottom {
    display: inline-flex;
    align-items: baseline;
}

iframe.embedded-calendar {
    width: 100%;
    border: none;
    outline: none;
    min-height: 400px;
    max-height: 600px;
}