<!DOCTYPE html>
<html lang="en" ng-app="zachButler">
<head>
    <meta charset="UTF-8" />
    <meta name="google-site-verification" content="sm5X_dONVRl_4KQECzD0I9dsL6ItVE5R5jYH_lfIsRw" />
    <title>Zach Butler</title>

    <link rel="icon" href="./img/icon.ico" />

    <link rel="stylesheet" href="./external/font-awesome/font-awesome.min.css" />
    <link rel="stylesheet" href="./external/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="./css/index.css" />

    <script type="text/javascript" src="./external/jquery/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="./external/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./external/angular/angular.min.js"></script>
    <script type="text/javascript" src="./external/bootstrap-ui/ui-bootstrap-tpls-0.13.1.min.js"></script>

    <script type="text/javascript" src="./js/index.js"></script>
    <script type="text/javascript" src="./js/google-analytics.js"></script>
</head>
<body ng-controller="MainController">
    <!-- For LinkedIn badge -->
    <!--<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>-->

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-links">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">
                    <a href="./index.html">Zach Butler</a>
                </span>
            </div>
            <div class="collapse navbar-collapse" id="navbar-links">
                <ul class="list-inline social-links hidden-xs hidden-sm">
                    <li>
                        <a href="https://www.linkedin.com/in/zachary-butler-035b19a5" class="social-linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
                        <a href="https://www.github.com/zcbutler" class="social-github" target="_blank"><i class="fa fa-github"></i></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#about" class="scroll-item">Learn More</a></li>
                    <li><a href="#resume" class="scroll-item">Resume</a></li>
                    <li><a href="#projects" class="scroll-item">Projects</a></li>
                    <li><a href="#contact" class="scroll-item">Get in Touch</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <video id="background" class="hidden-xs hidden-sm" loop muted>
        <source src="./videos/munich-medium-load.mp4" type="video/mp4" />
    </video>

    <header>
        <div class="header-content text-center">
            <div class="header-content-inner">
                <div class="col-xs-12 text-center">
                    <div class="main-logo-img">
                        <div class="app-icon">
                            <img src="./img/logo.png" alt="ZB" />
                        </div>
                    </div>
                </div>
                <div class="hr">&nbsp;</div>
                <a class="btn btn-large btn-danger text-uppercase scroll-item" href="#about">Get to Know Me</a>
                <noscript>
                    <div class="hr">&nbsp;</div>
                    You need JavaScript enabled for this site to work properly.
                </noscript>
            </div>
        </div>
    </header>

    <section id="about">
        <div class="container-fluid">
            <div class="row no-heading">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-xs-12 col-md-5 hidden-sm hidden-xs" id="about-image-container">
                            <img src="img/me.jpg" alt="Me" class="about-image" />
                        </div>
                        <div class="col-xs-12 col-md-7 col-xs-12">
                            <p>
                                My name is <strong>Zach Butler</strong>. I am a <strong>Software Development Engineer</strong>
                                working at Amazon within <strong>Amazon Web Services</strong> on the <strong>Simple Email
                                Service</strong> (SES) team in Seattle. I've been developing software since my freshman
                                year of high school, having always been fascinated by the challenge of building a great
                                software project that consistently meets high standards of both customer experience and
                                code quality. Through several years of constant learning and refinement of my skills and
                                processes, I believe I consistently demonstrate my high software engineering abilities.
                            </p>
                            <p>
                                I am excited to build a career in a field that affects such a wide spectrum of society.
                                Software has the ability to improve, simplify, accelerate, and refine existing processes
                                within our daily lives, as is proven by the work I and my colleagues do on the massive
                                (and forever growing) cloud computing platform that is AWS. So that I can have as large
                                a positive impact I can, I block off a few hours each day to be constantly learning
                                about the latest in software development, technology, industry breakthroughs, and
                                whatever other information is relevant to my work.
                            </p>
                            <p>
                                <a href="#contact" class="scroll-item underline-hover no-color-change"><strong>My contact
                                    info and availability</strong></a> can be found at the bottom of the page. You will
                                also find a <a href="#resume" class="scroll-item no-color-change underline-hover">
                                <strong>brief overview of my resume</strong></a> (with a PDF link to the professional
                                full version). My <strong>LinkedIn</strong> and <strong>GitHub</strong> profiles can be
                                found in the navigation bar at the top of the screen.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="resume">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <h2>Resume</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-xs-12 col-md-7">
                            <tabset>
                                <tab heading="{{ resumeTabs[0].title }}" active="resumeTabs[0].active" disable="false">
                                    <div class="text-left row" ng-repeat="item in resumeTabs[0].items">
                                        <div class="col-xs-12">
                                            <span class="bullet-span">&ndash;</span>
                                            <div class="bullet-item">{{ item }}</div>
                                        </div>
                                    </div>
                                </tab>
                                <tab heading="{{ resumeTabs[1].title }}" active="resumeTabs[1].active" disable="false">
                                    <div class="text-left row tab-col-headers hidden-xs hidden-sm" ng-if="resumeTabs[1].items.length">
                                        <div class="col-xs-5 text-underline">
                                            Position
                                        </div>
                                        <div class="col-xs-3 text-underline">
                                            Company
                                        </div>
                                        <div class="col-xs-4 text-underline">
                                            Dates Worked
                                        </div>
                                    </div>
                                    <div class="text-left row" ng-repeat="item in resumeTabs[1].items">
                                        <div class="col-xs-12 col-md-5 text-bold">
                                            {{ item.position }}
                                        </div>
                                        <div class="col-xs-12 col-md-3">
                                            <a class="no-color-change underline-hover" href="{{ item.companyUrl }}" target="_blank">{{ item.company }}</a>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            {{ item.start }}&nbsp;&mdash;&nbsp;{{ item.end }}
                                        </div>
                                    </div>
                                </tab>
                                <tab heading="{{ resumeTabs[2].title }}" active="resumeTabs[2].active" disable="false">
                                    <div class="text-left row tab-col-headers hidden-xs hidden-sm" ng-if="resumeTabs[2].items.length">
                                        <div class="col-xs-5 text-underline">
                                            Institution
                                        </div>
                                        <div class="col-xs-3 text-underline">
                                            GPA
                                        </div>
                                        <div class="col-xs-4 text-underline">
                                            Dates Attended
                                        </div>
                                    </div>
                                    <div class="text-left row" ng-repeat="item in resumeTabs[2].items">
                                        <div class="col-xs-12 col-md-5 text-bold">
                                            {{ item.school }}
                                        </div>
                                        <div class="col-xs-6 col-md-3">
                                            {{ item.gpa }}<span ng-if="item.majorGpa">,&nbsp;{{ item.majorGpa }}&nbsp;In Major</span>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            {{ item.start }}&nbsp;&mdash;&nbsp;{{ item.end }}
                                        </div>
                                    </div>
                                </tab>
                            </tabset>
                        </div>
                        <div class="col-xs-12 col-md-5">
                            <p>
                                <a href="./docs/resume.pdf" target="_blank" class="no-color-change underline-hover">Full resume</a>
                            </p>
                            <p>
                                <a href="https://www.linkedin.com/in/zachary-butler-035b19a5" target="_blank" class="no-color-change underline-hover">LinkedIn</a>
                            </p>
                            <p>
                                <a href="https://angel.co/zachary-butler" target="_blank" class="no-color-change underline-hover">AngelList</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="projects">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <h2>Projects</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-xs-12 col-md-7">
                            <tabset>
                                <tab ng-repeat="tab in projectTabs" heading="{{ tab.organization }}" active="tab.active" disable="false">
                                    <div class="row text-left">
                                        <div class="col-xs-12">
                                            <p class="text-italic">
                                                {{ tab.subtitle }}
                                            </p>
                                            <div class="container-fluid">
                                                <div class="row" ng-if="tab.projects" ng-repeat="(project, description) in tab.projects">
                                                    <div class="col-xs-12 col-md-3 text-bold">{{ project }}</div>
                                                    <div class="col-xs-12 col-md-9 text-italic">{{ description }}</div>
                                                </div>
                                                <div class="row" ng-if="!tab.projects">
                                                    <div class="col-xs-12 text-italic">
                                                        No disclosable projects.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tab>
                            </tabset>
                        </div>
                        <div class="col-xs-12 col-md-5">
                            <p>
                                <a href="https://www.github.com/zcbutler" target="_blank" class="no-color-change underline-hover">My GitHub</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <h2>Get in Touch</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-xs-12 col-md-5">
                            <p>
                                zach.butler0928@gmail.com
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="text-center small">
        Video credit to <a href="https://www.youtube.com/watch?v=6BbhS2ESa_I" target="_blank" class="underline-hover no-color-change">FlowMotion1001</a> of YouTube<br />
        Copyright &copy; 2015-<span id="copyright">2017</span> Zach Butler
    </footer>

</body>
</html>